$primary-color:#402668;
$gradient-color:linear-gradient(270deg, #331b57 0%, #674b96 100%);
$sidebar-color2:linear-gradient(270deg, #402668 0%, #3f2768 100%);
$green-color:#4FC36E;
$sidebar-color:#001947;
$white-color:#ffffff;
$black-color:#000000;
$subtitle-color:#848485;
$darksubtitle-color:#6B6D6B;
$input-color:#D9D8D9;
$danger-color:#D70000;
$font-family:"Outfit", sans-serif;